
<div class="container-fluid">
  <button (click)="redirectTo('/list/register')">Regiater</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let re of response">
        <td>
          {{re.name}}
        </td>
        <td>
          {{re.email}}
        </td>
        <td>
          {{re.contact}}
        </td>
        <td>
          <!-- http://localhost:4200/edit/121 -->
          <a [routerLink]="['/edit',re.id]" class="btn btn-info"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;
          <!-- http://localhost:4200/edit/11?act=append -->
          <a routerLink="/list/view/{{re.id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a> &nbsp;&nbsp;
          <button (click)="delete(re.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button> &nbsp;&nbsp;
        </td>
      </tr>
      <!-- $7Mentor$3mpLoy33$ -->
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>
